<div class="header">
  <nav>
    <ul>
      <li><strong>NgBond</strong></li>
    </ul>

    <div class="tool-container">
      <button (click)="addPath()">Pen</button>
      <button (click)="addContainer()">Container</button>
      <button (click)="addImage()">Image</button>
      <button (click)="addText()">Text</button>
      <button (click)="save()">Save</button>
      <button (click)="load()">Load</button>
    </div>
    <ul>
      <li><a routerLink="/" href="#">Simple</a></li>
      <li><a routerLink="/db-management" href="#">Tables</a></li>
      <li><a routerLink="/prisma" href="#">Prisma</a></li>
      <li><a routerLink="/testing" href="#">Testing</a></li>
    </ul>
  </nav>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
