:host {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  .header {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #313131;
    background: #111111;
  }
  .content {
    flex: 1;
    position: relative;
    overflow: hidden;
  }
}

.drag-container {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.5);
  width: 200px;
  height: 200px;
  border-radius: 6px;
}

.drag-child {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  background: #c9c9c9;
  border-radius: 100%;

  &.has-link {
    border: solid 1px red;
    animation: pop-in 0.3s;
  }

  &.left {
    top: 50%;
    transform: translate(-5px, -7px);
    left: 0;
  }
  &.right {
    top: 50%;
    transform: translate(5px, -7px);

    right: 0;
  }
  &.top {
    top: 0;
    transform: translate(7px, -5px);
    right: 50%;
  }
  &.bottom {
    transform: translate(-7px, 5px);
    top: initial;
    bottom: 0;
    left: 50%;
  }
}

@keyframes pop-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
