:host {
  position: relative;
}

.drag-container {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.5);
  width: 200px;
  height: 200px;
  border-radius: 6px;
}

.drag-child {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  background: #c9c9c9;
  border-radius: 100%;

  &.has-link {
    border: solid 1px red;
    animation: pop-in 0.3s;
  }
}

@keyframes pop-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
