<div
  dragworld
  style="
    position: relative;
    width: 1000px;
    height: 1000px;
    border: solid 1px #000;
  "
>
  <svg
    #svg_canvas
    style="position: absolute; top: 0; left: 0"
    style="background: #111"
    width="1000"
    height="1000"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <pattern id=":S4:" patternUnits="userSpaceOnUse" width="20" height="20">
        <circle r="1" cx="10" cy="10" fill="#313131"></circle>
      </pattern>
    </defs>

    <rect id="canvas_bg" width="100%" height="100%" fill="url(#:S4:)"></rect>
  </svg>

  <svg
    style="position: absolute; left: 0; top: 0"
    viewBox="0 0 1000 1000"
    height="100%"
    width="100%"
  >
    @for (link of dragService.links(); track $index) {
      <path
        class="draw"
        [attr.stroke]="link().stroke"
        stroke-width="3"
        [attr.d]="link().path2"
        fill="none"
        stroke-dasharray="10"
      />
    }
  </svg>

  <div
    id="container1"
    [draggable]
    #draggableRef="draggable"
    class="drag-container"
  >
    <div
      id="property1"
      style="top: 30px"
      [draggable]
      class="drag-prop drag-child"
    ></div>
    <div
      id="property2"
      style="top: 60px"
      [draggable]
      class="drag-prop drag-child"
    ></div>
    <div id="property3" [draggable] class="drag-prop drag-child"></div>
  </div>

  <div
    id="container2"
    [draggable]
    #draggableRef2="draggable"
    class="drag-container"
  >
    <div
      id="property4"
      style="top: 30px; right: 0"
      [draggable]
      class="drag-prop drag-child"
    ></div>
    <div
      id="property5"
      style="top: 60px; right: 0"
      [draggable]
      class="drag-prop drag-child"
    ></div>
    <div
      id="property6"
      [draggable]
      style="right: 0"
      class="drag-prop drag-child"
    ></div>
  </div>

  <div
    id="container3"
    [draggable]
    #draggableRef3="draggable"
    class="drag-container"
  >
    <div
      id="property7"
      style="top: 30px"
      [draggable]
      class="drag-prop drag-child"
    ></div>
    <div
      id="property8"
      style="top: 60px"
      [draggable]
      class="drag-prop drag-child"
    ></div>
    <div id="property9" [draggable] class="drag-prop drag-child"></div>
  </div>
</div>

<div style="position: absolute; right: 0; top: 0">
  <h3>Targets</h3>
  @for (drag of dragService.dragElements(); track $index) {
    <div>
      ID: {{ drag.id }} Global: {{ drag.gX() }}x{{ drag.gY() }} Local:
      {{ drag.x() }}x{{ drag.y() }}
    </div>
  }

  <h3>Links</h3>
  @for (link of dragService.links(); track $index) {
    <div>{{link().inputId}}: {{ link().x1 }}x{{ link().y1 }} {{link().outputId}}: {{ link().x2 }}x{{ link().y2 }}</div>
  }

  <br>
  <button (click)="dragService.createLink('property1', 'property4')">
    Create Link
  </button>
  <br />
  <button (click)="dragService.createLink('property2', 'property5', '#00ff00')">
    Create Link
  </button>
  <br />
  <button (click)="dragService.createLink('property6', 'property8')">
    Create Link
  </button>
</div>
