<div style="display: flex; height: 100%">
  <ng-bond-world>
    <!-- <div bondcontainer="container1" class="drag-container" positioning="transform" style="transform: translate(200px,200px)" [x]="200" [y]="200">
      <div
        bondproperty="property1"
        bondcolor="#00ff00"
        [bondstrokewidth]="5"
        style="top: 30px"
        class="drag-prop drag-child"
      ></div>
      <div
        bondproperty="property2"
        bondcolor="#00ff00"
        [bondstrokewidth]="5"
        style="top: 60px"
        class="drag-prop drag-child"
      ></div>
      <div bondproperty="property3" class="drag-prop drag-child"></div>
    </div> -->

    <!-- <div bondcontainer="container1" class="drag-container" style="width: 100px;height: 100px" [x]="700" [y]="200"></div>


    <div bondcontainer="container" class="drag-container" style="width: 600px;height: 600px" [x]="200" [y]="200"> -->
    <!-- <div
        bondproperty="property4"
        style="top: 30px; right: 0"
        class="drag-prop drag-child"
      ></div>
      <div
        bondproperty="property5"
        style="top: 60px; right: 0"
        class="drag-prop drag-child"
      ></div>
      <div
        bondproperty="property6"
        style="right: 0"
        class="drag-prop drag-child"
      ></div> -->

    <!-- <div bondcontainer="inner-container" class="drag-container" [y]="100" [x]="100" style="width: 300px; height: 300px"> -->
    <!-- <div
          bondproperty="innerprop"
          style="top: 50px; right: 50px"
          class="drag-prop drag-child"
        ></div> -->

    <!-- <div bondcontainer="inner-inner-container" class="drag-container" style="width: 100px; height: 100px"></div> -->
    <!-- </div> -->
    <!-- </div> -->

    <!-- <div bondcontainer="container3" class="drag-container">
      <div
        bondproperty="property7"
        style="top: 30px"
        class="drag-prop drag-child"
      ></div>
      <div
        bondproperty="property8"
        style="top: 60px"
        class="drag-prop drag-child"
      ></div>
      <div bondproperty="property9" class="drag-prop drag-child"></div>
    </div>

    <div bondcontainer="container4" class="drag-container">
      <div bondproperty="p1" class="drag-prop drag-child left"></div>
      <div bondproperty="p2" class="drag-prop drag-child right"></div>
      <div bondproperty="p3" class="drag-prop drag-child top"></div>
      <div bondproperty="p4" class="drag-prop drag-child bottom"></div>
    </div> -->

    <!-- <app-property-container></app-property-container> -->

    <motion-path style="position: absolute; left: 0; top: 0"></motion-path>
  </ng-bond-world>

  <bond-inspector #inspector></bond-inspector>

  <timeline></timeline>

  <!--   
  <div class="sidebar" style="width: 400px;">
    <div>
      <h3>Targets</h3>
      @for (drag of ngBondService.dragElements(); track $index) {
        <div>
          ID: {{ drag.id() }} Global: {{ drag.gX() }}x{{ drag.gY() }} Local:
          {{ drag.x() }}x{{ drag.y() }}
        </div>
      }

      <h3>Links</h3>
      @for (link of ngBondService.links(); track $index) {
        <div>
          {{ link().inputId }}: {{ link().x1 }}x{{ link().y1 }}
          {{ link().outputId }}: {{ link().x2 }}x{{ link().y2 }}
          <button (click)="ngBondService.removeLink(link)">Remove</button>
        </div>
      }

      <br />
      <button (click)="ngBondService.createLink('property1', 'property4')">
        Create Link
      </button>
      <br />
      <button (click)="ngBondService.createLink('property2', 'property5')">
        Create Link
      </button>
      <br />
      <button (click)="ngBondService.createLink('property6', 'property8')">
        Create Link
      </button>
    </div>
  </div> -->
</div>
