<div class="navigation">
  @for (tab of tabs(); track $index) {
    <div class="tab-item" (click)="selected.set(tab.value)" [class.selected]="selected() === tab.value">{{ tab.label }}</div>
  }
</div>

<div class="content">
  @if (selected() === 'properties') {
    <div>
      <h3>Connection</h3>

      <connection-inspector></connection-inspector>
    </div>
  } @else if (selected() === 'selection') {
    <!-- Selection -->
    <div>
      <h3>Selection</h3>
      <alignment-inspector></alignment-inspector>
    </div>
  } @else if (selected() === 'element-inspector') {
    <alignment-inspector></alignment-inspector>

    <element-property-inspector style="margin-top: 10px"></element-property-inspector>
    <inspector-tween-properties></inspector-tween-properties>
  } @else if (selected() === 'child-tree') {
    <div>
      <h3>Properties</h3>

      <element-tree></element-tree>

      <button (click)="componentFactory.groupSelected()">Group</button>
      <button (click)="componentFactory.serializeComponents()">Serialize</button>
      <button (click)="componentFactory.loadSerialized()">Load</button>
    </div>
  }
</div>
