@use '@richapps/ngx-pentool/theming';
@use '@richapps/ui-components/theming' as ui-theme;
@import 'primeicons/primeicons.css';

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.backgroundMode {
    opacity: 0.2!important;
}
