<div style="display: flex; flex-direction: row; height: 100vh; width: 100vw">
  <div style="display: flex; flex-direction: column; flex-grow: 1; width: 100%; overflow: hidden">
    <ng-bond-world style="height: 100%">
      <!-- insert slot for dynamically created components -->
      <!-- <svg #svg_canvas style="position: absolute; left: 0; top: 0" width="1400px" height="600px" xmlns="http://www.w3.org/2000/svg"></svg> -->
      <motion-path style="position: absolute; left: 0; top: 0"></motion-path>
      <ng-template #insert_slot></ng-template>
      <!-- motion path editor -->

      <div [fm-container]="'test'"></div>
    </ng-bond-world>
    <timeline></timeline>
  </div>
  <inspector></inspector>
</div>
