<ng-template #myanimation let-path="path">
  <svg>
    <circle r="blue" fill="red">
      <animateMotion dur="4s" repeatCount="indefinite" [attr.path]="path" />
    </circle>

    <circle r="6" fill="red">
      <animateMotion dur="4s" repeatCount="indefinite" [attr.path]="path" />
    </circle>

    <circle r="6" fill="blue">
      <animateMotion begin="1s" dur="4s" repeatCount="indefinite" [attr.path]="path" />
    </circle>

    <circle r="6" fill="red">
      <animateMotion begin="2s" dur="4s" repeatCount="indefinite" [attr.path]="path" />
    </circle>

    <circle r="6" fill="blue">
      <animateMotion begin="3s" dur="4s" repeatCount="indefinite" [attr.path]="path" />
    </circle>
  </svg>
</ng-template>

<div style="display: flex; height: 100%">
  <ng-bond-world [animationBubbleCount]="inspector.animationBubbleCount()" [animationBubbleDuration]="inspector.animationBubbleDuration()">
    @for (table of tables; track $index) {
      <div class="card" [bondcontainer]="table.name" [x]="200" [y]="200">
        <div class="card-header">
          <div class="tx">
            <span class="tx-muted">/</span><span>{{ table.name }}</span>
          </div>
        </div>
        <div class="card-content">
          @for (field of table.fields; track $index) {
            <div class="list-item">
              <span>{{ field.name }}</span>
              <span class="tx-muted">{{ field.type }}</span>
              <div class="connection-indicator left" positioning="none" [draggable]="false" [bondproperty]="`${table.name}_${field.name}_left`"></div>
              <div class="connection-indicator right" positioning="none" [draggable]="false" [bondproperty]="`${table.name}_${field.name}_right`"></div>
            </div>
          }
        </div>
      </div>
    }
  </ng-bond-world>

  <bond-inspector #inspector></bond-inspector>
</div>
