<div class="navigation">
  @for (tab of tabs(); track $index) {
    <div class="tab-item" (click)="selected.set(tab.value)" [class.selected]="selected() === tab.value">{{ tab.label }}</div>
  }
</div>

<div class="content">
  <div>
    @if (selected() === 'properties') {
      <div>
        <h3>Connection</h3>

        <connection-inspector></connection-inspector>
      </div>
    } @else if (selected() === 'selection') {
      <!-- Selection -->
      <div>
        <h3>Selection</h3>
        <alignment-inspector></alignment-inspector>
      </div>
    } @else if (selected() === 'element-inspector') {
      <alignment-inspector></alignment-inspector>

      <element-property-inspector style="margin-top: 10px"></element-property-inspector>

      <!-- <link-properties></link-properties> -->

      <inspector-tween-properties></inspector-tween-properties>
    }
  </div>
</div>
