:host {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;

  --color-icon: #ffffff;
}





.header {
    height: 50px;
    width: 100%;
    background: #1E1E1E;
    border-bottom: solid 1px #424242;
    display: flex;
    align-items: center;
}

.tool-container {
    display: inline-flex;
    gap: 6px;
    background: #2C2C2C;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;

    button {
        border-radius: 5px;
        padding: 3px;
        background: #222222;
        height: auto;
        &:hover {
            background: #333333;
        }
    }
}